:root {
    --basic-white: #FFFFFF;
    --basic-light-grey: #DBDBDB;
    --basic-grey: #A8A8A8;
    --basic-black: #303030;
    --basic-blue: #008DE0;
}
/* HEADER  */

.progressbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.progressbar__min {
    padding: 0px 10px;
}
.progressbar__bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--basic-black);
}
.progressbar__progressline {
    width: 25%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--basic-blue);
}
.progressbar__max {
    padding: 0px 10px;
}
.buttons-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}
.searchbar {
    border: none;
    background-color: transparent;
    margin: 5px;
}
.searchbar:hover {
    opacity: 0.7;
}
.searchbar__icon {
    width: 19px;
    height: 19px;
}
.login-btn {
    border: none;
    background-color: transparent;
    margin: 5px;
}
.login-btn:hover {
    opacity: 0.7;
}
.login-btn__icon {
    width: 24px;
    height: 24px;
}
.switch-btn {
    border: none;
    background-color: transparent;
    margin: 5px;
}
.switch-btn:hover {
    opacity: 0.7;
}
.switch-btn__icon  {
    width: 34px;
    height: 19px;
}

.menu {
    /* width: 33.3%; */
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__list {
    list-style: inside;
    list-style-type: none;
    /* padding: 0px 20px; */
    padding-left: 60px;
}
.menu__list-item {
    display: inline;
    padding: 0px 5px;
    padding: 0px 30px 0px 30px;
}
.menu__list-link {
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px;
    line-height: 40px; */
    text-decoration: none;
    color: var(--basic-black);
}
.menu__list-link:hover {
    color: var(--basic-blue);
}

.artist {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-top: 60px;
}
.artist__photo {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.artist__photo-image {
    width: 84%;
}
.artist__info {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.artist__info-block {
    text-align: center;
}
.artist__name {
}
.artist__field {
    padding-top: 20px;
}
.artist__about {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: peachpuff; */
}
.artist__about-block {

}
.artist__title {}
.artist__text {
    width: 70%;
    padding-top: 20px;
}
.artist__contact-btn {
    width: 87px;
    height: 34px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    /* margin: 0px 10px 0px 35px; */
    cursor: pointer;
}
.artist__contact {
    width: 100%;
    /* display: flex;
    justify-content: flex-start; */
}
.artist__contact-btn:hover {
    border: 0.5px solid var(--basic-blue);
    background-color: var(--basic-white);
    color: var(--basic-blue);
}

.works {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.works__item {
    width: calc(53%);
    height: calc(100vw * 0.2);
    background-color: var(--basic-white);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.works__item_square {
    width: calc(22%);
    height: calc(100vw * 0.2);
    background-color: var(--basic-white);
    margin: 10px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    padding-left: 24px;
    padding-top: 34px;
}

.news {
    width: 100%;
}
.news-row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
#row-id {
    display: none;
}
.news-item {
    width: calc(100vw / 4);
    background-color: var(--basic-white);
    margin: 49px 30px;
    background-position: top;
    /* background-size: contain; */
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 150px;
}
.news-item__title {
    width: 100%;;
    background-color: var(--basic-white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 20px;
}
.news-item__title-text {
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    /* font-size: 32px;
    line-height: 38px; */
}
.news-item__title-text:hover {
    color: var(--basic-blue);
}
.news-item__bookmark-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.news-item__bookmark-btn:hover {
    opacity: 0.7;
}
.news-item__bookmark-icon {
    width: 17px;
    height: 25px;
}
.news-item__subtitle {
    background-color: var(--basic-white);
}
.news-item__subtitle-text {
    padding: 0px 20px 20px 20px;
}
.news-item__price {
    width: 100%;
    background-color: var(--basic-white);
    font-style: normal;
    font-weight: bold;
}
.news-item__news-item__price-text {
    text-align: left;
}
.news-item__news-item__price-text_accent {
    color: var(--basic-blue);
}

.news-row_major {}
.news-item_major {
    width: calc(100vw / 2);
}
.news-item_major-square {
    width: calc(100vw / 4);
}
.news-item_major .news-item__date {
    margin-bottom: 305px;
}
.news-item_major-square .news-item__date {
    margin-bottom: 305px;
}
                            
.more {
    width: 100%;
    padding: 34px 0px;
}
.more-btn {
    width: 87px;
    height: 34px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    margin: 0px 10px 0px 35px;
    cursor: pointer;
}
.more-btn:hover {
    border: 0.5px solid var(--basic-blue);
    background-color: var(--basic-white);
    color: var(--basic-blue);
}