<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ONE ART</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/artwork.css">
</head>

<body>
    <header class="header">
        <a href="../../index.html" style="text-decoration: none;">
            <img src="../../img/logo.png" alt="" class="logo">
        </a>
        <div class="progressbar">
            <span class="progressbar__min">1</span>
            <div class="progressbar__bar">
                <div class="progressbar__progressline"></div>
            </div>
            <span class="progressbar__max">1000</span>
        </div>
        <div class="buttons-group">
            <!-- <button class="switch-btn">
                        <img src="img/switch-icon.png" alt="" class="switch-btn__icon">
                    </button> -->
            <button class="searchbar">
                <img src="../../img/searchbar-icon.svg" alt="" class="searchbar__icon">
            </button>
            <button class="login-btn">
                <a href="../../profile.html" style="text-decoration: none;">
                    <img src="../../img/profile.svg" alt="" class="login-btn__icon">
                </a>
            </button>
        </div>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a href="../../obtain.html" class="menu__list-link">Obtain</a>
                </li>
                <li class="menu__list-item">
                    <a href="../../cooperate.html" class="menu__list-link">Cooperate</a>
                </li>
                <li class="menu__list-item">
                    <a href="../../explore.html" class="menu__list-link">Explore</a>
                </li>
                <li class="menu__list-item">
                    <a href="../../index.html" class="menu__list-link">About us</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="page" style="display: flex; flex-flow: row wrap;">
        <section class="artwork-photo">
            <img src="../../img/il_794xN (2).png" alt="" class="artwork-photo__photo">
        </section>

        <section class="artwork-info">
            <p class="artwork-info__author">Joe Coel</p>
            <h1 class="artwork-info__name"><b>Middsummer
                </b></h1>
            <div class="buy">
                <p class="buy__price">
                    USD
                    <span class="buy__price-accent">310,00</span>
                </p>
                <button class="buy__buy-btn">
                    <img src="../../img/cart.svg" alt="" class="buy__buy-icon">
                    <span class="buy__buy-text">Buy</span>
                </button>
            </div>
            <div class="add">
                <p class="add__title">
                    Make your contribution
                </p>
                <p class="add__text">
                    Each time you buy an artwork on our website you make a contribution to our community and support
                    our mission to develop art in Ukraine and worldwide. Thank you!
                </p>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
</body>

</html>